<%- include('partials/header'); %>




<%    allPosts.forEach(function (posts){ %>
        <h3> <%= posts.title %></h3>
        <p> <%= posts.postBody.substring(0, 100) + " ..." %> 
            <a href="/posts/<%=posts.title%>">Read More</a>
        </p>
        
<%    })  %>

<%- include('partials/footer'); %>